* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top , hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
  overflow-y: hidden;
}

.paper-grad {
  background: 
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(to top, hsl(230, 89%, 62%) , hsl(230, 89%, 65%)) border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px inset, hsl(230, 55%, 46%) 0px 6px;
}

.rock-grad {
  background: 
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(to top, hsl(349, 71%, 52%) , hsl(349, 70%, 56%)) border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px inset, hsl(349, 66%, 35%) 0px 6px;
}

.scissors-grad {
  background: 
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(to top, hsl(39, 89%, 49%) , hsl(40, 84%, 53%)) border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px inset, hsl(39, 88%, 34%) 0px 6px;
}

.lizard-grad{
  background: 
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(to top, hsl(261, 73%, 60%) , hsl(261, 72%, 63%)) border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px inset, hsl(261, 48%, 46%) 0px 6px;
}

.spock-grad{
  background: 
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(to top, hsl(189, 59%, 53%) , hsl(189, 58%, 57%)) border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px inset, hsl(189, 52%, 39%) 0px 6px;
}

.no-shadow{
  box-shadow: none;
}

@media screen and (min-width: 769px) {
  .win-grad {
    box-shadow: rgba(253, 253, 255, 0.06) 0px 0px 0px 50px, rgba(253, 253, 255, 0.05) 0px 0px 0px 100px, rgba(253, 253, 255, 0.02) 0px 0px 0px 150px;
    transition: box-shadow 0.5s ease 1s;
  }

  .no-shadow{
    box-shadow: none;
  }
  
}

@media screen and (max-width: 769px) {
  .win-grad {
    box-shadow: rgba(253, 253, 255, 0.06) 0px 0px 0px 15px, rgba(253, 253, 255, 0.05) 0px 0px 0px 30px, rgba(253, 253, 255, 0.02) 0px 0px 0px 50px;
    transition: box-shadow 0.5s ease 1s;
  }
}